:root {
  --ceh-red: #b11217;
  --ceh-red-dark: #7d0c10;
  --ceh-black: #0f0f0f;

  --ceh-gray-dark: #1c1c1c;
  --ceh-gray: #2a2a2a;
  --ceh-gray-light: #e6e6e6;

  --ceh-text: #111;
  --ceh-muted: #666;

  --ceh-bg: #ffffff;
  --ceh-section-bg: #f7f7f7;

  --ceh-pre-bg: #111;
  --ceh-pre-text: #eaeaea;

  --ceh-border: #d0d0d0;

  /* Tradução */
  --ceh-pt-bg: #fff3f3;
}
